form{
    margin-bottom: 16px;
}
.idInput{
    max-width: 160px;
}
.timeInput{
    max-width: 40px;
    
}
.distInput{
    max-width: 80px;
}

.margin_rt{
    display: inline-flex;
    margin-right: 8px;
}

.margin_rt_lg{
    display: inline-flex;
    margin-right: 24px;
}