form{
    min-height: 15vh;
    width: inherit;
    padding: 8px;
}
label,button{
    margin-left: 16px;
}
input{
    margin-left: 8px;
}

.time{
    width: 80px;
}
.run_id{
    width:120px;
}
.dist{
    width: 120px;
}


.form_Inputs{
    display: inline-flex;
}

.form_input{
    flex:1;
}