.site{
  display: flex;
  height: 88vh;
  width:100vw;
  min-width: 650px;
}

.left{
  flex:1;
}

.right{
  flex:2;
}

.sidebar{

  width:20%;
  min-width:160px;
  max-width:200px;
}
.main_content{
  padding: 0px 60px;
  width:80%;
  min-width:600px;
}

.main_component{
  margin-top:60px;
}